body {
  background-color: #8aa676;
}

header {
  position: relative;
  background-color: #6b7057;
  padding: 20px;
  color: white;
  text-align: center;
  z-index: 1000;
}
header .logo a {
  font-size: 2rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 50px;
}

nav li {
  float: left;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 128);
  text-shadow: 1px 2px 2px black;
}
a:hover {
  color: yellow;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  background-image: linear-gradient(to bottom right, #c4f2b9, #808874);
  border-radius: 5px;
}

nav a:hover {
  color: #fff1e6;
  background-image: linear-gradient(to bottom right, #ffe092, #bba282);
}

main {
  margin: 20px;
  text-align: center;
}

.grid_container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid_1:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.grid_1:nth-child(2) {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: center;
}

.grid_container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  font-family: "Rowdies", cursive;
}

.billeder:nth-child(1):nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.img_assets {
  width: 100%;
  height: 100%;
}
.forside_text {
  text-align: center;
  font-family: "Rowdies", cursive;
}
.billeder_text {
  text-align: center;
  font-family: "Rowdies", cursive;
}
